/* Светлая тема */
.check {
    --check__ico-bg-color: #FFFFFF;
    --check__ico-color: #FFFFFF;
    --check__text-color: #000000;
    --check-border-color: #BAD8F5;
    --check-hover-bg-color: #BAD8F5;
    --check-hover__text-color: #459DF5;

    --check-checked__ico-bg-color: #459DF5;
    --check-checked__ico-color: #FFFFFF;
    --check-checked__text-color: #459DF5;
    --check-checked-border-color: #459DF5;
    --check-checked-hover__text-color: #000000;
}

.check {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Ubuntu';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    font-size: 0.8125rem;

}

.check_hover:hover {
    background-color: var(--check-hover-bg-color);
}

.check_hover:hover .check__text {
    color: var(--check-hover__text-color)!important;
}

.check_hover:hover .check__input:checked ~ .check__text {
    color: var(--check-checked-hover__text-color)!important;
}

.check__input {
    appearance: none;
    display: none;
}

.check__input:checked ~ .check__text {
    color: var(--check-checked__text-color);
}

.check__input:not(:checked) ~ .check__text {
    color: var(--check__text-color);
}

.check__ico {
    box-sizing: border-box;
    width: 0.875rem;
    height: 0.875rem;
    fill: var(--check__ico-bg-color);
    stroke: none;
    border: 0.0625rem solid var(--check-border-color);
}

.check__input[type="radio"] ~ .check__ico {
    border-radius: 1rem;
}

.check__input[type="checkbox"] ~ .check__ico {
    border-radius: 0.125rem;
}

.check__input:not(:checked) ~ .check__ico {
    background: var(--check__ico-bg-color);
}

.check__input:checked ~ .check__ico {
    border-color: var(--check-checked-border-color);
    background: var(--check-checked__ico-bg-color);
    fill: var(--check-checked__ico-color);
}