.filter-bar {
    --filter-bar_str_bg-color: transparent;
    --filter-bar_form_bg-color: #EBF0F5;
}

:root[theme="dark"] .filter-bar {
    --filter-bar_str_bg-color: transparent;
    --filter-bar_form_bg-color: #171B1F;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1rem;
}

.filter-bar__str {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--filter-bar_str_bg-color);
}

.filter-bar__str__group-item {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    gap: 1rem;
}

.filter-bar__str__group-item__input-find {
    width: 20rem;
}

.filter-bar__str__group-item__input-find .pv-input__field {
    margin-top: 0;
}

.filter-bar__str__group-item__button-show {
    --pv-button__ico-opacity: 1;
    --pv-button_reverse__ico-opacity: 1;
}

.filter-bar__str__button-load {
    --pv-button_reverse__ico-opacity: 1;
}

.filter-bar__form {
    background-color: var(--filter-bar_form_bg-color);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    display: none;
}

.filter-bar_show-form .filter-bar__form {
    display: flex;
}

.filter-bar__form__period,
.filter-bar__form__summa {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.filter-bar__form__period__start,
.filter-bar__form__period__end {
    width: 8.875rem;
}

.filter-bar__form__status {
    width: 12rem;
}

.filter-bar__form__summa__start,
.filter-bar__form__summa__end {
    width: 7.875rem;
}

.filter-bar__form__apply {
    align-self: flex-end;
}
