/* Светлая тема */
.label-status {
    --label-status-bg-color: transparent;
    --label-status__text-color: #000000;
    --label-status__ico-color: #000000;

    --label-status_status-new__text-color: #000000;
    --label-status_status-calculation__text-color: #000000;
    --label-status_status-confirmed__text-color: #000000;
    --label-status_status-postponed__text-color: #000000;
    --label-status_status-complete__text-color: #0FB864;
    --label-status_status-canceled__text-color: #000000;
}

/* Темная тема */
.label-status {
    --label-status-bg-color: transparent;
    --label-status__text-color: #000000;
    --label-status__ico-color: #000000;

    --label-status_status-new__text-color: #BCC4CC;
    --label-status_status-calculation__text-color: #BCC4CC;
    --label-status_status-confirmed__text-color: #BCC4CC;
    --label-status_status-postponed__text-color: #BCC4CC;
    --label-status_status-complete__text-color: #0FB864;
    --label-status_status-canceled__text-color: #BCC4CC;
}

.label-status {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 0.25rem;
    height: 1rem;
    background-color: var(--label-status-bg-color);
}

.label-status__ico {
    width: 1rem;
    height: 1rem;
    /*fill: var(--label-status__ico-color);*/
}

.label-status__text {
    /*font-family: 'Ubuntu';*/
    /*font-style: normal;*/
    font-size: 0.8125rem;
    line-height: 1rem;
    color: var(--label-status__text-color);
    font-weight: 400;
}



.label-status_status-new .label-status__ico {
    background-image: url("icons/statusNew.svg");
}
.label-status_status-new .label-status__ico::after {
    background-image: url("icons/statusNew.svg");
;
}

.label-status_status-new .label-status__text::after {
    content: "Новый";
    color: var(--label-status_status-new__text-color);
}


.label-status_status-calculation .label-status__ico {
    background-image: url("icons/statusCalculation.svg");
}
.label-status_status-calculation .label-status__text::after {
    content: "Рассчет";
    color: var(--label-status_status-calculation__text-color);
}

.label-status_status-canceled .label-status__ico {
        background-image: url("icons/statusCanceled.svg");
}
.label-status_status-canceled .label-status__text::after {
    content: "Отменен";
    color: var(--label-status_status-canceled__text-color);
}

.label-status_status-complete .label-status__ico {
        background-image: url("icons/statusComplete.svg");
}

.label-status_status-complete .label-status__text::after {
    content: "Выполнен";
    color: var(--label-status_status-complete__text-color);
}

.label-status_status-confirmed .label-status__ico {
        background-image: url("icons/statusConfirmed.svg");
}
.label-status_status-confirmed .label-status__text::after {
    content: "Подтвержден";
    color: var(--label-status_status-confirmed__text-color);
}

.label-status_status-postponed .label-status__ico {
        background-image: url("icons/statusPostponed.svg");
}
.label-status_status-postponed .label-status__text::after {
    content: "Отложен";
    color: var(--label-status_status-postponed__text-color);
}




/*.label-status__ico {*/
/*    display: none;*/
/*}*/

/*.label-status_status-new .label-status__ico_new {*/
/*    display: block;*/
/*}*/

/*.label-status_status-calculation .label-status__ico_calculation {*/
/*    display: block;*/
/*}*/

/*.label-status_status-canceled .label-status__ico_canceled {*/
/*    display: block;*/
/*}*/

/*.label-status_status-complete .label-status__ico_complete {*/
/*    display: block;*/
/*}*/

/*.label-status_status-confirmed .label-status__ico_confirmed {*/
/*    display: block;*/
/*}*/

/*.label-status_status-postponed .label-status__ico_postponed {*/
/*    display: block;*/
/*}*/
