/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "button.css";
@import "input.css";
@import "check.css";
@import "dropdown.css";

* {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
}