/* Светлая тема */
.paginator {
    --paginator-bg-color: transparent;

    --paginator__page-bg-color: transparent;
    --paginator__page-text-color: #459DF5;
    --paginator__page-border-color: transparent;


    --paginator-active__page-bg-color: #459DF5;
    --paginator-active__page-text-color: #FFFFFF;
    --paginator-active__page-border-color: transparent;

    --paginator-goto-bg-color: transparent;
    --paginator-goto-text-color: #459DF5;
    --paginator-goto-border-color: transparent;
}

.paginator {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    background-color: var(--paginator-bg-color);
}

.paginator__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--paginator__page-bg-color);
    color: var(--paginator__page-text-color);
    border: var(--paginator__page-border-color) 0.0625rem solid;
}


.paginator-active {
    background-color: var(--paginator-active__page-bg-color);
    color: var(--paginator-active__page-text-color);
    border: var(--paginator-active__page-border-color) 0.0625rem solid;
}

.paginator-goto {
    background-color: var(--paginator-goto-bg-color);
    color: var(--paginator-goto-text-color);
    border: var(--paginator-goto-border-color) 0.0625rem solid;
}

.paginator-goto,
.paginator-link {
    cursor: pointer;
}

.paginator-goto {
    margin-left: 0.625rem;
}