/* Светлая тема */
.pv-button {
    --pv-button-bg-color: #459DF5;
    --pv-button__ico-color: #FFFFFF;
    --pv-button__ico-opacity: 0.5;
    --pv-button__text-color: #FFFFFF;
    --pv-button-hover-bg-color: #2474ff;
    --pv-button-hover-border-color: #0000ff;
    --pv-button-hover__text-color: #FFFFFF;

    --pv-button_reverse-bg-color: transparent;
    --pv-button_reverse__ico-color: #459DF5;
    --pv-button_reverse__ico-opacity: 0.5;
    --pv-button_reverse__text-color: #459DF5;
    --pv-button-hover_reverse-bg-color: #c4e9ff;
    --pv-button-hover_reverse-border-color: #459DF5;
    --pv-button-hover_reverse__text-color: #459DF5;

    --pv-button_black-reverse-bg-color: transparent;
    --pv-button_black-reverse__ico-color: #000000;
    --pv-button_black-reverse__ico-opacity: 0.5;
    --pv-button_black-reverse__text-color: #000000;
    --pv-button-hover_black-reverse-bg-color: #d3d3d3;
    --pv-button-hover_black-reverse-border-color: #000000;
    --pv-button-hover_black-reverse__text-color: #000000;
}


.pv-button {
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.25rem;
    gap: 0.5rem;
    cursor: pointer;
    height: 2rem;
}

.pv-button_border {
    padding: 0.4375rem 0.9375rem;
    border: 0.0625rem solid transparent;
}

.pv-button_ico {
    padding: 0.5rem 0.5rem;
}

.pv-button_ico.pv-button_border {
    padding: 0.4375rem 0.4375rem;
}

.pv-button_small {
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    height: 1.5rem;
}
.pv-button_small.pv-button_border {
    padding: 0.1875rem 0.4375rem;
}

.pv-button_ico.pv-button_small {
    padding: 0.25rem 0.25rem;
}

.pv-button_ico.pv-button_small.pv-button_border {
    padding: 0.1875rem 0.1875rem;
}

.pv-button_small {
    padding: 0.25rem 0.5rem;
    height: 1.5rem;
}

.pv-button_ico .pv-button__ico,
.pv-button_ico-text .pv-button__ico {
    width: 1rem;
    height: 1rem;
}

.pv-button__ico {
    width: 1rem;
    height: 1rem;
}

.pv-button_ico .pv-button__text {
    display: none;
}

.pv-button_text .pv-button__ico {
    display: none;
}

.pv-button__text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
}

.pv-button_width-all {
    width: 100%;
}


.pv-button {
    background: var(--pv-button-bg-color);
}

.pv-button__text {
    color: var(--pv-button__text-color);
}

.pv-button_ico .pv-button__ico,
.pv-button_ico-text .pv-button__ico {
    opacity: var(--pv-button__ico-opacity);
    stroke: var(--pv-button__ico-color);
    fill: var(--pv-button__ico-color);
}

/*.pv-button_ico .pv-button__ico path,*/
/*.pv-button_ico-text .pv-button__ico path {*/
/*    opacity: var(--pv-button__ico-opacity);*/
/*    stroke: var(--pv-button__ico-color);*/
/*    fill: var(--pv-button__ico-color);*/
/*}*/


.pv-button:hover {
    border-color: var(--pv-button-hover-border-color);
    background-color: var(--pv-button-hover-bg-color);
}
.pv-button:hover .pv-button__text {
    color: var(--pv-button-hover__text-color);
}


.pv-button_reverse {
    background-color: var(--pv-button_reverse-bg-color);
}

.pv-button_reverse .pv-button__text {
    color: var(--pv-button_reverse__text-color);
}

.pv-button_reverse .pv-button__ico {
    opacity: var(--pv-button_reverse__ico-opacity);
    stroke: var(--pv-button_reverse__ico-color);
    fill: var(--pv-button_reverse__ico-color);
}

/*.pv-button_reverse .pv-button__ico path {*/
/*    stroke: var(--pv-button_reverse__ico-color);*/
/*    fill: var(--pv-button_reverse__ico-color);*/
/*}*/

.pv-button_reverse:hover {
    border-color: var(--pv-button-hover_reverse-border-color);
    background-color: var(--pv-button-hover_reverse-bg-color);
}

.pv-button_reverse:hover .pv-button__text {
    color: var(--pv-button-hover_reverse__text-color);
}


.pv-button_black-reverse {
    background-color: var(--pv-button_black-reverse-bg-color);
}

.pv-button_black-reverse .pv-button__ico {
    opacity: var(--pv-button_black-reverse__ico-opacity);
    fill: var(--pv-button_black-reverse__ico-color);
    stroke: var(--pv-button_black-reverse__ico-color);
}

.pv-button_black-reverse .pv-button__text {
    color: var(--pv-button_black-reverse__text-color);
}

.pv-button_black-reverse:hover {
    border-color: var(--pv-button-hover_black-reverse-border-color);
    background-color: var(--pv-button-hover_black-reverse-bg-color);
}

.pv-button_black-reverse:hover .pv-button__text {
    color: var(--pv-button-hover_black-reverse__text-color);
}

