/* Светлая тема */
.table__foot {
    --table__foot-bg-color: #EBF0F5;
    --table__foot__action__rec-count-text-color: #459DF5;
}

.table__foot__action__rec-del {
    --button-bg-color: #F53152;
    --button__ico-opacity: 1;
    --button__ico-color: #FFFFFF;
    --button__text-color: #FFFFFF;
    --button-hover-bg-color: #c92f4d;

}


:root[theme="dark"] .table__foot__action__rec-del {
    --button-bg-color: #F53152;
    --button__ico-opacity: 1;
    --button__ico-color: #FFFFFF;
    --button__text-color: #FFFFFF;
    --button-hover-bg-color: #c92f4d;
}


.table__foot {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background: var(--table__foot-bg-color);
}

.table__foot__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 1rem;
    height: 1.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.table__foot__action__rec-count {
    color: var(--table__foot__action__rec-count-text-color);
}


.table__foot__action__rec-del .button__ico {
    fill: none;
    stroke: var(--button__ico-color);
}
