/* Светлая тема */
.table__body__row__cell {
    --table__body__row__cell-bg-color: transparent;
    --table__body__row__cell__text-color: #000000;
}

 .table__body__row__cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--table__body__row__cell-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    height: 2.5rem;
}

.table__body__row__cell {
    height: 1rem;
    /*font-family: 'Ubuntu';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    font-size: 0.8125rem;
    line-height: 1rem;
    color: var(--table__body__row__cell__text-color);
}
