@import "table__head__cell.css";

/*Светлая тема */
.table__head {
    --table__head-bg-color: #459DF5;
}

.table__head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    padding-left: 0.5rem;
    height: 2.5rem;
    background: var(--table__head-bg-color);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
