/* Светлая тема */
.table__head__cell {
    --table__head__cell-bg-color: transparent;
    --table__head__cell_sorting-bg-color: rgba(0, 0, 0, 0.15);
    --table__head__cell__ico-color: #FFFFFF;
    --table__head__cell__text-color: #EBF0F5;
}

.table__head__cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--table__head__cell-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    height: 2.5rem;
}

.table__head__cell_sorting {
    background-color: var(--table__head__cell_sorting-bg-color);
}

.table__head__cell__text {
    height: 1rem;
    /*font-family: 'Ubuntu';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    font-size: 0.8125rem;
    line-height: 1rem;
    color: var(--table__head__cell__text-color);
    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 1;*/
}

.table__head__cell__ico {
    display: none;
}

.table__head__cell_sort .table__head__cell__ico {
    display: block;
    position: relative;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.table__head__cell__ico__svg {
    position: absolute;
    width: 0.375rem;
    height: 0.3125rem;
    left: calc(50% - 0.375rem / 2);
    top: calc(50% - 0.3125rem / 2);
    /*background: #EBF0F5;*/
    transform: rotate(-180deg);
    fill: var(--table__head__cell__ico-color);
}
